.body {
    font-family: 'Montserrat', sans-serif;
}

/* main styles */
.main {
    display: flex;
    flex-direction: row-reverse;
    background-color: #f5f7fa;
    width: 1200px;
    margin: 0 auto;
}


.main-content {
    background-color: #fff;
}

/* about styles */

.about {

}

/*projects styles */
.projects {


   /*margin: 100px 90px 300px 60px;

    margin: 50px;

    margin: 100px 50px;*/
}

.project-title {

}

/*work styles */

.work {


    /*padding: 100px 40px 50px 20px;

    padding: 50px;

    padding: 50px 100px;*/
}


/*education styles */
.education {
    
}

/*sidebar styles */
.sidebar {
    background-color: #1e2939;
    padding-top: 40px;
    width: 370px;
}

.photo {
    width: 370px;
    margin-bottom: 50px;
}

.contacts, 
.tech-skills {
    margin-left: 40px;
}


.sidebar-title {
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
}

.contact-type {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
}

